<div class="container-fluid">
  <div>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>
  <hr>
  <div>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>
  <hr>
  <div>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>
  <hr>
  <div>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>
  <hr>
  <div #target>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>
  <p [ttClass]="'blue'" appTest [countUp]="param[0]" (sendParams)="receiveParam($event)" id="0">typescript works!</p>
  <!-- <ng-select #select [items]="cars | async" bindLabel="title" bindValue="title"
                (change)="onChange($event)" [editableSearchTerm]="true">
     </ng-select>-->

  <div>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>
  <hr>
  <div>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>
  <hr>
  <div>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>
  <hr>
  <div>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>
  <hr>
  <div #target>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>

  <p [ttClass]="'red'" appTest [countUp]="param[1]" (sendParams)="receiveParam($event)" id="1">typescript works!</p>


  <div>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>
  <hr>
  <div>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>
  <hr>
  <div>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>
  <hr>
  <div>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>
  <hr>
  <div #target>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>

  <div>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>
  <hr>
  <div>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>
  <hr>
  <div>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>
  <hr>
  <div>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>
  <hr>
  <div #target>
    orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie dictum nibh sit amet dignissim. Vivamus
    cursus pulvinar eros sed rhoncus. Donec pulvinar et quam nec fringilla. Sed iaculis mollis nisi, quis elementum
    risus scelerisque et. Integer bibendum rhoncus varius. Nulla maximus luctus nulla in luctus. Quisque ut arcu
    consequat, suscipit dui nec, dapibus diam.
  </div>

  <p [ttClass]="'blue'" appTest [countUp]="param[2]" (sendParams)="receiveParam($event)" id="2">typescript works!</p>


  <p [ttClass]="'blue'" appTest [countUp]="param[3]" (sendParams)="receiveParam($event)" id="3">typescript works!</p>
</div>

